<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature android:name="android.hardware.camera.any" android:required="true" />

    <application
        android:name=".EpicuriusApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">
        <activity
            android:name=".ui.screens.auth.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.auth.resetPassword.ResetPasswordActivity"
            android:exported="false"
            android:label="Reset Password"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.auth.signup.SignUpActivity"
            android:exported="false"
            android:label="Sign Up"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.dailyMenu.DailyMenuActivity"
            android:exported="false"
            android:label="Daily Menu"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.collections.favourites.folder.FavouritesActivity"
            android:exported="false"
            android:label="Favourites Folder"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.collections.favourites.list.FavouritesListActivity"
            android:exported="false"
            android:label="Favourites List"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.feed.FeedActivity"
            android:exported="false"
            android:label="Feed"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.fridge.FridgeActivity"
            android:exported="false"
            android:label="Fridge"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.mealPlanner.calendar.CalendarActivity"
            android:exported="false"
            android:label="Meal Planner Calendar"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.mealPlanner.daily.DailyActivity"
            android:exported="false"
            android:label="Meal Planner Daily"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.mealPlanner.weekly.WeeklyActivity"
            android:exported="false"
            android:label="Meal Planner Weekly"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.recipe.createRecipe.CreateRecipeActivity"
            android:exported="false"
            android:label="Create Recipe"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.recipe.ingredients.ConfirmIngredientsActivity"
            android:exported="false"
            android:label="Confirm Ingredients"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.recipe.preparation.PreparationActivity"
            android:exported="false"
            android:label="Preparation"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.recipe.profile.RecipeProfileActivity"
            android:exported="false"
            android:label="Recipe Profile"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.search.general.SearchActivity"
            android:exported="false"
            android:label="Search"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.search.camera.CameraActivity"
            android:exported="true"
            android:label="Camera"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.user.profile.UserProfileActivity"
            android:exported="false"
            android:label="User Profile"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.user.follow.FollowActivity"
            android:exported="false"
            android:label="Follow"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".ui.screens.user.settings.SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>